body {
    background-color: dodgerblue;
}

div {
    background-color: turquoise;
    border: 2px solid black;
    padding-top: 2%;
    display: block;
    text-align: center;
    margin-top: 15%
}

#bill-value {
    margin-right: 2%;
}

#submit {
    margin-top: 2%;
}